// ----------------------------------------------------------------------------
// #App Globals

#app button {
  cursor: pointer;
}

.reset-button {
  padding: 15px;
  background-color: #0075fe;
  color: white;
  font-weight: 700;
  border: none;
}
